body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    font-family: sans-serif;
}

header {
    background-color: #ff8b00;
    color: white;
    padding: 0.3rem;
}

.head-container {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.head-container button {
    background-color: darkorange;
    color: white;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 0.5rem;
    min-width: 2rem;
    margin: 0.15rem;
}

main {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.left-sidebar {
    overflow: scroll;
    width: 30%;
    border-right: 1px solid black;
}

.right-sidebar {
    width: 70%;
    background-color: #eeffd5;
    display: flex;
    flex-direction: column;
    position: relative;
}

.left-sidebar,
.right-sidebar {
    overflow-y: auto;
}

.my-message {
    background-color: #e0e0e0 !important;
}

.showMessage {
    margin-top: 15px;
    padding: 0 2rem;
    display: block;
    max-height: 70vh;
    overflow-y: auto;
}

.message-container {
    background-color: #e6f7ff;
    color: #333;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    max-width: 50%;
}

.userName {
    font-weight: 600;
    font-style: italic;
}

.messageImage {
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    border-radius: 100%;
    height: 3rem;
}

.logo span {
    padding-left: 1rem;
    font-weight: 800;
}

.container {
    text-align-last: center;
}

.container {
    text-align-last: center;
    border: 2px solid #dfdfdf;
    border-radius: 20px;
    padding: 1rem 3rem;
    box-shadow: 2px 4px 10px #e0e0e0;
}

.groupDetails {
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #58ff58;
}

.group-name {
    padding: 1rem 2rem;
    border: solid grey;
    border-width: 0 0 1px 0;
    margin: 0;
}

.groupForm {
    border-top: 1px solid grey;
    bottom: 0;
    position: absolute;
    padding: 12px 22px;
    background-color: #dadada;
    width: 95%;
    align-items: center;
    justify-content: space-between;
}
.group-name p {
    margin: 0;
    font-weight: 700;
}

.groupForm input[type = "text"] {
    width: 61%;
    height: 28px;
    border-radius: 50px;
    padding: 0 2%;
}

.groupForm input[type = "submit"] {
    background-color: #4a8200;
    color: white;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 0.5rem 1.7rem;
    min-width: 2rem;
    margin: 0.15rem;
}


.createForm {
    padding: 10px;
    margin: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    font-weight: 600;
    background-color: white;
}

.createForm input[type = "text"] {
    padding: 0 5px;
    width: 82%;
    height: 26px;
    border-radius: 10px;
}

.createForm input[type = "submit"] {
    padding: 10px;
    margin: 20px;
    background-color: green;
    width: 95%;
    color: white;
    font-weight: 600;
    border-radius: 9px;
}

.cancelBtn {
    padding: 10px;
    margin: 0 20px;
    background-color: red;
    width: 95%;
    color: white;
    font-weight: 600;
    border-radius: 9px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}